<div id="login-container">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <img class="login-image" [src]="images[0]" alt="Random first slide">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="login-image"  [src]="images[1]" alt="Random second slide">
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="login-image" [src]="images[2]" alt="Random third slide">
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<div id="login-window">
  <h1>Log in</h1>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" value="">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" value="">
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent">Gmail</button>
    <button mat-raised-button color="primary">Facebook</button>
  </form>
  
</div>