#login-container {
    position: relative;
}

#login-window {
    border: 1px solid Black;
    background-color: azure;
    opacity: .9;
    text-align: center;
    position: absolute;
    width: 30%;
    padding: 20px;
    top: 25vh;
    left: 35vw; 
}

.login-image {
    width: 100%;
    height: 100vh;
}
