<div id="signupPortal-container">
  <h1>Sign Up</h1>
  <form class="signup-form" #form="ngForm">
    <mat-form-field>
        <input matInput type="text" name="firstname" ngModel placeholder="First Name">
      </mat-form-field>
    <mat-form-field>
        <input matInput type="text" name="lastname" ngModel placeholder="Last Name">
      </mat-form-field>
    <mat-form-field>
      <input matInput type="email" name="email" ngModel placeholder="Email">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput type="password" name="password" ngModel placeholder="Password">
    </mat-form-field>
    <br>
    <button (click)="onSubmitSignUp(form)" mat-raised-button color="warn">Submit</button>
    <hr>
    <h5>Existing User?</h5>
    <a routerLink='/login'>Go to Login</a>
  </form>
</div>