<form id="todo-form" class="pa3 bg-light-yellow ba bw1">
  <h2>Add New Item</h2>
  <hr>
  <mat-form-field class="pt3">
    <input matInput [matDatepicker]="picker" placeholder="Choose a due date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Category">
      <mat-option [value] ="Personal">
        Personal
      </mat-option>
      <mat-option [value] ="Personal">
        Work
      </mat-option>
      <mat-option [value] ="Personal">
        Liefstyle
      </mat-option>
      </mat-select>
    </mat-form-field>
  <br>
  <label><strong>Title</strong></label>
  <br>
  <input class="w-80">
  <br>
  <label><strong>Description</strong></label>
  <br>
  <textarea class="w-80"></textarea>
  <br>
  <button id="todo-submit-button" class="btn btn-success pv3" type="button">Add</button>
</form>
