#todo-form {
    text-align: center;
    background: #ffffcc; 
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

#todo-form * {
    margin: 0 auto;
    font-family:"Comic Sans MS",arial,sans-serif;

}

#todo-submit-button {
    text-align: right !important;
    margin-top: 1.5rem;
}

.sticky-note {
    font-family:"Comic Sans MS",arial,sans-serif;
}