<div id="loginPortal-container">
  <h1>Log in</h1>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" value="">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" value="" type="password">
    </mat-form-field>
    <br>
    <button mat-raised-button color="warn" (click)="onSubmitCredentials()">Log In</button>
    <hr>
    <h3>Or Login via Social Media</h3>
    <button mat-raised-button color="accent">Gmail</button>
    <button mat-raised-button color="primary">Facebook</button>
  </form>
</div>