<section class="container-fluid">
  <div class="row">
      <div class="kpi-window col-md-4">
          <div class="kpi-number f1">11</div>
          <div class="kpi-label f3 dark-red">DUE</div>
        </div>
        <div class="kpi-window col-md-4">
            <div class="kpi-number f1">50</div>
          <div class="kpi-label f3">UPCOMING</div>
        </div>
        <div class="kpi-window col-md-4">
          <div class="kpi-number f1">33</div>
          <div class="kpi-label f3 green">COMPLETED</div>
        </div>
  </div>
</section>
<pre>
  {{ kpiData | json }}
</pre>