<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-text">
    CheckThis.io
  </span>
  <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="open(content)">Add Item</button>
</nav>
<section id="dashboard-container">
  <app-kpi></app-kpi>
  <div class="dashboard-heading pv3">
    <h1>John Doe's Dashboard</h1>
    <p-dropdown [options]="cities"></p-dropdown>
  </div>
  <br>
  <div class="row">
    <div class="col-md-5">
      <kpi-pie-chart></kpi-pie-chart>
    </div>
    <div class="col-md-6 bg-washed-blue">
        <kpi-line-chart></kpi-line-chart>
      </div>
  </div>
</section>
<!-- To-do Form -->
<ng-template #content let-modal>
  <todo-form class="pa2"></todo-form>
</ng-template>
  