<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-text">
    CheckThis.io
  </span>
  <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="openDialog()">Add Task</button>
</nav>
<section id="dashboard-container">
    <mat-sidenav-container class="dashboard-content">
        <mat-sidenav class="dashboard-sidenav" mode="side" opened>
            <li class="dashboard-sidenav-option pa3">Menu Option 1</li>
            <li class="dashboard-sidenav-option pa3">Menu Option 2</li>
            <li class="dashboard-sidenav-option pa3">Menu Option 3</li>
            <li class="dashboard-sidenav-option pa3">Menu Option 4</li>
            <li class="dashboard-sidenav-option pa3">Menu Option 5</li>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-kpi [kpiData]="userKpiData"></app-kpi>
              <div class="dashboard-heading form-row pt4">
                <label class="col-md-7 col-form-label" for="name"><h1>John Doe's Dashboard</h1></label>
                <p-dropdown class="col-md-3" [options]="cities" [style]="{'width': '100%'}"></p-dropdown>
            </div>
              <br>
            <div class="row pl6">
              <div class="col-md-5">
                <div class="card kpi-tile">
                  <div class="card-header card-title bg-dark">
                    Total Count
                    </div>
                    <div class="card-body bg-secondary">
                      <kpi-pie-chart [kpiData]="userKpiData"></kpi-pie-chart>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card kpi-tile">
                  <div class="card-header card-title bg-dark">
                    Yearly Progress
                  </div>
                  <div class="card-body bg-secondary">
                      <kpi-line-chart></kpi-line-chart>
                  </div>
                </div>
                </div>
            </div>
        </mat-sidenav-content>
      </mat-sidenav-container>      
</section>