<section id="dashboard-container">
    <mat-sidenav-container class="dashboard-content">
        <mat-sidenav class="dashboard-sidenav" mode="side" opened>
            <li class="dashboard-sidenav-option pa3">Summary</li>
            <li class="dashboard-sidenav-option pa3">Completed</li>
            <li class="dashboard-sidenav-option pa3">Overdue</li>
            <li class="dashboard-sidenav-option pa3" routerLink='/checklist'><a>Upcoming</a></li>
            <li class="dashboard-sidenav-option pa3">Archived</li>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-kpi [taskCount]="taskCount"></app-kpi>
              <div class="dashboard-heading form-row pt4">
                <label class="col-md-7 col-form-label" for="name"><h1>John Doe's Dashboard</h1></label>
                <p-dropdown class="col-md-3" [options]="cities" [style]="{'width': '100%'}"></p-dropdown>
            </div>
              <br>
            <div class="row pl6">
              <div class="col-md-5">
                <div class="card kpi-tile">
                  <div class="card-header card-title bg-dark">
                    Total Count
                    </div>
                    <div class="card-body bg-secondary">
                      <kpi-pie-chart [taskCount]="taskCount"></kpi-pie-chart>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card kpi-tile">
                  <div class="card-header card-title bg-dark">
                    Yearly Progress
                  </div>
                  <div class="card-body bg-secondary">
                      <kpi-line-chart></kpi-line-chart>
                  </div>
                </div>
                </div>
            </div>
        </mat-sidenav-content>
      </mat-sidenav-container>      
</section>